/* General window background and font */
window {
    background-color: white;
    color: black;
    font-family: "Sans", Sans-Serif;
    font-weight: bold;
}

/* --- Buttons --- */
/* Base style for all buttons with specific IDs */
button#oxygen_btn,
button#co2_btn,
button#passcode-button {
    background-image: none;       /* Remove GTK theme gradients */
    border-radius: 12px;
    color: black;
    font-weight: bold;
    padding: 20px;
    font-size: 60px;
    border: none;
    transition: background-color 0.3s ease;
}

/* Oxygen button - greenish */
button#oxygen_btn {
    background-color: rgba(161, 243, 168, 0.7);
}

/* CO2 button - bluish */
button#co2_btn {
    background-color: rgba(77, 166, 255, 0.7);
}

/* Passcode buttons - bright blue */
button#passcode-button {
    background-color: #4da6ff;
    color: white;
    font-size: 80px;
}

/* Hover states */
button#oxygen_btn:hover {
    background-color: rgba(100, 180, 100, 0.9);
    color: white;
}

button#co2_btn:hover {
    background-color: rgba(40, 120, 255, 0.9);
    color: white;
}

button#passcode-button:hover {
    background-color: #1f78d1;
}

#digits {
    font-size: 70px;
    margin: 20px;
}

#bottom-time-label {
    font-size: 40px
}

/* --- ComboBox (Dropdown Menu) --- */
combobox {
    background-color: #dbe3f6;
    color: black;
    font-size: 80px;

    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #4da6ff;
}

combobox popover {
    background-color: #4da6ff;
    color: white;
    border-radius: 8px;
}

/* Dropdown list row hover */
combobox popover > box > list > row:hover {
    background-color: #d9d9d9;
    color: black;
    transition: background-color 0.3s ease;
}

/* ComboBox focus */
combobox:focus {
    border: 2px solid #1f78d1;
}

#modal-title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

GtkButton {
    font-size: 18px;
    padding: 10px;
    border-radius: 12px;
}

GtkLabel {
    font-size: 18px;
    margin: 10px;
}

