window {
    background-color: black;
    color: white;
    font-family: "Sans", Sans-Serif;
    font-weight: bold;
}

label {
    font-size: 16px;
    font-weight: bold;
}

button {
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px;
    border: none;
}

button:hover {
    background-color: black;
}

/* === ComboBox (dropdown menu) styling === */
combobox, combobox * {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 4px;
}

combobox:focus {
    border: 2px solid white;
}

combobox:selected, combobox list, combobox popover {
    background-color: black;
    color: white;
}

#translucent-logo {
    opacity: .5; /* Adjust between 0.0 (fully transparent) and 1.0 (opaque) */
}

#passcode-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
}
#oxygen-btn,
#co2-btn {
  min-width: 60px;
  min-height: 30px;
  font-size: 14px;
  padding: 6px 10px;
  background-color: #e0f7fa;
  border-radius: 8px;
  color: #00695c;
}

#oxygen-btn:hover,
#co2-btn:hover {
  background-color: #b2ebf2;
  transition: background-color 0.3s ease;
}

